<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="connect-src * 'unsafe-inline';">

    <style>
        table {
            border: 2px solid black;
        }

        input {
            width: 300px;
        }

        select {
            width: 300px;
        }

        textarea {
            width: 513px;
            border: 2px solid black;
        }

        #btnConnect {
            width: 100px;
        }

        #btnDisconnect {
            width: 100px;
        }

        #btnSend {
            width: 100px;
        }
    </style>
    <script type="text/javascript" src="https://rawgit.com/allensarkisyan/VideoFrame/master/VideoFrame.min.js"></script>
</head>

<body>
    <h1>WebSocket Client</h1>
    <!-- WebSocket Connection Parameters Table -->
    <table>
        <tr>
            <td width="200px">WS Protocol</td>
            <td>
                <select id="protocol">
                    <option value="ws" selected="selected">ws</option>
                    <option value="wss">wss</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>WS Hostname</td>
            <td><input type="text" id="hostname" /></td>
        </tr>
        <tr>
            <td>WS Port</td>
            <td><input type="text" id="port" /></td>
        </tr>
        <tr>
            <td>WS Endpoint</td>
            <td><input type="text" id="endpoint" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnConnect" type="button" value="Connect" onclick="onConnectClick()">&nbsp;&nbsp;
                <input id="btnDisconnect" type="button" value="Disconnect" onclick="onDisconnectClick()"
                    disabled="disabled">
            </td>
        </tr>
    </table><br />
    <!-- Send Message Table -->
    <table>
        <!-- <tr>
                  <td width="200px">Message</td>
                  <td><input type="text" id="message"/></td>
              </tr>
              <tr>
                  <td></td>
                  <td>
                      <input id="btnSend" type="button" value="Send Message" disabled="disabled" onclick="onSendClick()">
                  </td>
              </tr> -->
        <video id="video" width="520" height="300" controls>
            <source src="{{url_for('static', filename='media/' + file)}}">
        </video>
        <span id="currentFrame">0</span>
        <div id="controls">
            <button id="play-pause">Play</button>
        </div>
    </table><br/>
    <textarea id="incomingMsgOutput" rows="10" cols="20" disabled="disabled"></textarea>
</body>
<script src="{{url_for('static', filename='wsclient.js')}}"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script type='text/javascript'>
    var currentFrame = $('#currentFrame');
    var video = VideoFrame({
        id : 'video',
        frameRate: 24,
        callback : function(frame) {
            currentFrame.html(frame);
        }
    });
    $('#play-pause').click(function(){
        if(video.video.paused){
            video.video.play();
            video.listen('frame');
            $(this).html('Pause');
            if (webSocket.readyState != WebSocket.OPEN) {
                console.error("webSocket is not open: " + webSocket.readyState);
                return;
            }
            webSocket.send("PLAY0"+currentFrame.text());
        }else{
            video.video.pause();
            video.stopListen();
            $(this).html('Play');
            if (webSocket.readyState != WebSocket.OPEN) {
                console.error("webSocket is not open: " + webSocket.readyState);
                return;
            }
            webSocket.send("PAUSE"+currentFrame.text());
        }
    });
      </script>
</html>